.post {
	width: 400px;
	font-family: 'Lexend', sans-serif;
}

.post-image {
	display: block;
	width: 100%;
}

.post-ratings-container {
	display: flex;
	justify-content: end;
	padding: 12px 0;
}

.post-rating {
	display: flex;
	align-items: center;
	cursor: default;
}

.post-rating:not(:last-child) {
	margin-right: 12px;
}

.post-rating-selected > .post-rating-button,
.post-rating-selected > .post-rating-count {
	color: #009578;
}

.post-rating-button {
	margin-right: 6px;
	cursor: pointer;
	color: #555555;
}

.post-rating:not(.post-rating-selected) > .post-rating-button:hover {
	color: #000000;
}